* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100vh;
  /* fallback background */
  background-color: #4a90e2;
  background: linear-gradient(to bottom, #4a90e2, #3d73a6);
}
.welcome_text {
  width: min(400px, 90%);
  text-align: center;
  color: #fff;
}
.welcome_text label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: clamp(1rem, 5vw, 1.5rem);
}
.welcome_form input,
.welcome_form button {
  display: block;
  width: 100%;
}
.welcome_form input {
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: inherit;
  font-size: 30px;
  text-align: center;
}
.welcome_form button {
  font-size: 22px;
  text-transform: uppercase;
  padding: 18px 0;
  border: none;
  background-color: #fff;
  color: #341f97;
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: 0.4s all;
}
.welcome_form button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.welcome_form input:focus,
.welcome_form button:focus {
  outline: none;
}
.quiz {
  border-radius: 5px;
  width: min(800px, 95%);
  height: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: #d3d3d3;
  overflow: hidden;
}
.quiz_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fef1;
  padding: 30px;
}
.quiz_header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: #8bb2e7;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.quiz_user {
  display: flex;
  align-items: center;
  padding-left: 30px;
  text-transform: uppercase;
}
.quiz_timer {
  display: flex;
  align-items: center;
  background-color: #341f97;
  padding: clamp(5px, 2vw, 30px);
  color: #fff;
}
.option_group {
  list-style-type: none;
  margin: 30px 0;
}
.option {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #fff;
  width: 300px;
  height: 40px;
  padding: 15px, 20px;
  margin-bottom: 15px;
  border-radius: 100px;
  border: 2px solid transparent;
  text-align: center;
}
.option:hover {
  cursor: pointer;
  border: 2px solid #341f97;
  color: #341f97;
}
.btn_next {
  background-color: #341f97;
  color: #fff;
  padding: 15px 35px;
  border: none;
  border-radius: 27px;
  transition: 0.4s all;
  outline: none;
}
.btn_next:hover {
  cursor: pointer;
  background-color: #fff;
  color: #341f97;
  box-shadow: 0px, 0px, 10px, 10px rgba(0, 0, 0, 0.3);
}
.active {
  background-color: #341f97;
  color: #fff !important;
}
.user_name,
.user_points,
.user_time {
  color: #fff;
  margin: 15px;
  text-align: center;
}
@keyframes lineAnimation {
  0% {
    height: 0;
    opacity: 0.5;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
    transform: translateY(-100%);
    opacity: 1;
  }
}

.congratulations-lines {
  position: fixed;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100dvw;
  pointer-events: none;
  z-index: 3;
}

.line {
  position: absolute;
  bottom: 0;
  width: 1px;
  height: 0;
  background-color: white;
  animation: lineAnimation 0s linear 5 forwards;
}
